In [1]:
# For wide monitor
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
import pandas as pd

In [56]:
data = pd.read_excel('monthly_data_template.xlsx')

In [35]:
import sys
import csv
maxInt = sys.maxsize

while True:
    # decrease the maxInt value by factor 10 
    # as long as the OverflowError occurs.

    try:
        csv.field_size_limit(maxInt)
        break
    except OverflowError:
        maxInt = int(maxInt/10)

In [37]:
df = pd.read_csv('조현병_20190801.csv', engine='python', encoding='UTF-8')

In [38]:
df.head()

,title,date,content,company,url,is_murder,comment,comment_num,year,month
0,조현병 10대 흉기 살해 뒤 태연히 집으로…,2019.04.25. 오전 6:45,\n\n\n\n동영상 뉴스\t\n\t[뉴스투데이]◀ 앵커 ▶안인득 사건의 충격이 가...,MBC,https://news.naver.com/main/read.nhn?mode=LSD&...,0,"[[1686818792, '', '어이구 이나라 조현병은 천하무적인데 할머니만 억울...",293,2019,4
1,"""할머니가 머릿속에 들어와""…조현병 10대 '흉기 살해'",2019.04.24. 오후 7:56,\n\n\n\n동영상 뉴스\t\n\t[뉴스데스크]◀ 앵커 ▶진주 '안인득 방화살인'...,MBC,https://news.naver.com/main/read.nhn?mode=LSD&...,0,"[[1685937232, '', '살인을 정당화 할 순 없지만 조현병이 있는 친구를...",144,2019,4
2,[김경래의 최강시사] 조현병환우회 “치료거부 환자에 공권력 행사해야”,2019.04.24. 오전 8:57,- 특별한 치료랄 것도 없어...꾸준히 약만 복용하면 정상인 못지않게 생활 가능-...,KBS,https://news.naver.com/main/read.nhn?mode=LSD&...,0,"[[1704423621, '', '환자한테 공권력 사용이라...도데체 이건 무슨 마...",1,2019,4
3,“안인득 강제 입원 시도했으나 좌절”…이유는?,2019.04.23. 오전 8:31,친절한 뉴스 두 번째 소식은 경남 진주에서 발생한 아파트 방화 살인 사건 피의자 안...,KBS,https://news.naver.com/main/read.nhn?mode=LSD&...,0,"[[1703822701, '', '당시에 자타해 위험성이 엄청 높을때 하는건 응급입...",6,2019,4
4,"안인득, 조현병 치료 중단 후 33개월 '방치'",2019.04.22. 오전 9:49,\t\n\t아파트 방화·살인범인 42살 안인득은 범행 전 33개월간 사실상 관리 사...,MBN,https://news.naver.com/main/read.nhn?mode=LSD&...,0,[],0,2019,4

In [48]:
df.pivot_table(index=['year', 'month'], values='title', aggfunc='count')

            title
year month
2010 2          5
     3          2
     4          1
     5          8
     6          3
     7         10
     8          5
     9          8
     10         8
     11         5
     12         3
2011 1         12
     3         14
     4          4
     5          3
     6          1
     7         37
     8          2
     9          3
     10         5
     11        17
     12        14
2012 1          8
     2          2
     3          5
     5          5
     6          1
     7          7
     8         18
     9          9
...           ...
2016 12        19
2017 1         17
     2         42
     3         20
     4        136
     5         80
     6         63
     7         27
     8         18
     9         28
     10        12
     11        23
     12        12
2018 1         13
     2         16
     3          8
     4         48
     5         30
     6         37
     7        109
     8         42
     9         15
     10       123
     11        45
     12        25
2019 1         33
     2         21
     3         38
     4        482
     5        191

[110 rows x 1 columns]

In [54]:
temp = df.groupby(['year', 'month'])['title'].count()

In [57]:
data.head()

,Year,Month,No_days_per_month,total_change_daily,male_change_daily,female_change_daily,No_total_patients_day,No_total_male_patients_day,No_total_female_patients_day,total_patients,...,F32_계,F32_남,F32_여,unemployment_rate_k,unemployment_rate_k_1,smartphone_pen,smartphone_pen_10K,No_total_crime_articles_t,No_homicide_articles_t,No_non-homicide_articles_t
0,2010,1,31,.,.,.,6464.97,1949,4515.97,200414,...,143245,43772,99473,5.0,.,970000.0,97.0,NaN,NaN,NaN
1,2010,2,28,11.5496,11.6543,11.5043,7211.64,2176.14,5035.5,201926,...,144997,44221,100776,4.8,5,1003000.0,100.3,NaN,NaN,NaN
2,2010,3,31,-0.56894,-1.5571,-0.141896,7170.61,2142.26,5028.35,222289,...,159500,48227,111273,4.1,4.8,1300000.0,130.0,NaN,NaN,NaN
3,2010,4,30,3.46489,4.01797,3.22926,7419.07,2228.33,5190.73,222572,...,160462,48701,111761,3.7,4.1,1600000.0,160.0,NaN,NaN,NaN
4,2010,5,31,-6.07766,-6.06461,-6.08326,6968.16,2093.19,4874.97,216013,...,155890,47276,108614,3.2,3.7,1970000.0,197.0,NaN,NaN,NaN

In [59]:
data.columns

Index(['Year', 'Month', 'No_days_per_month', 'total_change_daily',
       'male_change_daily', 'female_change_daily', 'No_total_patients_day',
       'No_total_male_patients_day', 'No_total_female_patients_day',
       'total_patients', 'total_male', 'total_female', 'F33_계', 'F33_남',
       'F33_여', 'F412_계', 'F412_남', 'F412_여', 'F32_계', 'F32_남', 'F32_여',
       'unemployment_rate_k', 'unemployment_rate_k_1', 'smartphone_pen',
       'smartphone_pen_10K', 'No_total_crime_articles_t',
       'No_homicide_articles_t', 'No_non-homicide_articles_t'],
      dtype='object')

In [63]:
data.Year[0]

2010

In [81]:
for i in range(len(data)):
    for j in range(len(temp)):
        if data.Year[i] == temp.year[j] and data.Month[i]==temp.month[j]:
            data.No_total_crime_articles_t[i] = temp.title[j]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [86]:
data.No_total_crime_articles_t.fillna(0, inplace=True)

In [95]:
df.is_murder.value_counts()

0    3058
1     228
Name: is_murder, dtype: int64

In [101]:
temp = df.pivot_table(index=['year', 'month'], values='is_murder', aggfunc='sum').reset_index()

In [103]:
for i in range(len(data)):
    for j in range(len(temp)):
        if data.Year[i] == temp.year[j] and data.Month[i]==temp.month[j]:
            data.No_homicide_articles_t[i] = temp.is_murder[j]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [106]:
data.No_homicide_articles_t.fillna(0, inplace=True)

In [109]:
data.to_excel('monthly_data_template_20190801.xlsx')

In [69]:
temp=pd.DataFrame(temp)

In [75]:
temp.reset_index(inplace=True)

In [47]:

months = [i for i in range(1, 13)]
years = [months for i in range(10)]
count_list = years

In [46]:
for i in range(len(df)):

AttributeError: 'list' object has no attribute 'dict'

AttributeError: 'dict' object attribute 'keys' is read-only

In [12]:
import json

In [ ]:
with open('네이버뉴스_조현병_final.txt') as json_file:
    json_data = json.load(json_file)

In [19]:
pd.read_csv('네이버뉴스_조현병_은별.csv')

FileNotFoundError: File b'\xeb\x84\xa4\xec\x9d\xb4\xeb\xb2\x84\xeb\x89\xb4\xec\x8a\xa4_\xec\xa1\xb0\xed\x98\x84\xeb\xb3\x91_\xec\x9d\x80\xeb\xb3\x84.csv' does not exist

In [26]:
temp = pd.DataFrame({'date':['2019.04.25. 오전']})

In [27]:
temp

             date
0  2019.04.25. 오전

In [32]:
temp.date[0].split('.')[0]

'2019'

In [ ]:
def